@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@600&family=Roboto&display=swap');

.Modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.075);
}

.Container {
    color: #000;
    width: 890px;
    height: 570px;
    border-radius: 9px;
    background-color: #F3F2F2;
}

.FavoritarCard {
    
    width: 41px;
    height: 36px;
    top: 50px;
    left: 800px;
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    
    /* background-color: transparent; 
    border: none;
    outline: none; */
}

.Description h3 {
    font-family: Poppins;
    top: -65px;
    margin-left: 405px;
    font-size: 30px;
    display: flex;
    position: relative;
}

.Sinopse {
    font-family: Roboto;
    top: 160px;
    margin-left: 405px;
    font-size: 16px;
    display: flex;
    position: relative;
}

.img {
    top: 50px;
    display: flex;
    position: relative;
}

.Description p {
    font-family: Roboto;
    margin-left: 405px;
    Width: 480px;
    Height: 507px;
    top: 65px;
    font-size: 16px;
    display: flex;
    position: relative;
}